# Dependencies
node_modules/
dist/

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# PID files
*.pid

# Build
*.tsbuildinfo
